@font-face {
  font-family: 'ltc-bodoni-175';
  src: url('../../fonts/1.eot');
  src: url('../../fonts/1.eot?#iefix') format('embedded-opentype'),
               url('../../fonts/1.woff') format('woff'),
               url('../../fonts/1.ttf') format('truetype');
  font-weight: 400;
  font-style:  normal;
}
@font-face {
  font-family: 'ltc-bodoni-175';
  src: url('../../fonts/2.eot');
  src: url('../../fonts/2.eot?#iefix') format('embedded-opentype'),
               url('../../fonts/2.woff') format('woff'),
               url('../../fonts/2.ttf') format('truetype');
  font-weight: 400;
  font-style:  normal;
}
