
/**
 * Variables
 */

// Media Query Maximums
$small-breakpoint-max: 640px;
$medium-breakpoint-max: 1024px;
$large-breakpoint-max: 1440px;

$primary-color: #B49455;
$secondary-color: #ffffff;


$nav-color: #222222;
$background-color: #262626;

$nav-bar--height: 60px;
$nav-menu--width: 280px;

$text--color-grey: #8d8c8d;
