.extras{

  $this: '.extras';

  // Base Styles

  h4{
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: $primary-color;
  }

  &__row{
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    color: #adadad;
    cursor: pointer;
    transition: 0.5s ease;

    &:before{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-family: 'icomoon';
    }

    &:hover{

      color: #fff;

      #{$this}__tooltip{
        opacity: 1;
        z-index: 10;
      }

    }

    &--active{
      color: #fff;
    }

    &--plane{
      &:before{
        content: '\e90d';
        font-family: 'icomoon';
      }
    }
    &--champagne{
      &:before{
        content: '\e912';
        font-family: 'icomoon';
      }
    }
    &--hot-food{
      &:before{
        content: '\e918';
        font-family: 'icomoon';
      }
    }
    &--car{
      &:before{
        content: '\e91c';
        font-family: 'icomoon';
      }
    }
    &--wine{
      &:before{
        content: '\e91c';
        font-family: 'icomoon';
      }
    }
    &--snack{
      &:before{
        content: '\e91b';
        font-family: 'icomoon';
      }
    }
    &--cat{
      &:before{
        content: '\e90f';
        font-family: 'icomoon';
      }
    }
    &--dog{
      &:before{
        content: '\e913';
        font-family: 'icomoon';
      }
    }
    &--fish{
      &:before{
        content: '\e916';
        font-family: 'icomoon';
      }
    }
    &--bag{
      &:before{
        content: '\e90e';
        font-family: 'icomoon';
      }
    }
    &--snow{
      &:before{
        content: '\e916';
        font-family: 'icomoon';
      }
    }
    &--golf{
      &:before{
        content: '\e915';
        font-family: 'icomoon';
      }
    }
    &--weapon{
      &:before{
        content: '\e919';
        font-family: 'icomoon';
      }
    }
    &--wheel-chair{
      &:before{
        content: '\e910';
        font-family: 'icomoon';
      }
    }

  }

  &__tooltip{
    opacity: 0;
    position: absolute;
    bottom: 110%;
    left: 15%;
    transform: translateX(-50%);
    width: 250px;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    z-index: -1;
    transition: 0.5s ease;

    h4{
      font-size: 14px;
    }

    p{
      font-size: 15px;
      margin-bottom: 0;
      color: #7f8083;
    }

    &:before{
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      background-color: #fff;
      transform: translateX(-50%) rotate(45deg);
      left: 50%;
      bottom: -10px;
    }

  }

}
