.modal{

  $this: '.modal';

  outline: none;
  padding: 20px;
  border-radius: 5px;

  h2{
    font-size: 30px;
    line-height: 30px;
    color: #444;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

}
