[data-flight-slider]{

  .slick-initialized .slick-slide{
    display: flex;
  }

  .slick-slide{
    height: auto;
  }

}
.slick-initialized .slick-slide{
  display: flex;
}

.slick-dots li button{
  width: 10px;
  height: 10px;
}

.slick-dots{
  bottom: -40px;
}

.slick-dots li button:before{
  background-color: transparent;
  border: 2px solid #5e5e5e;
  border-radius: 50%;
  content: '';
  width: 10px;
  height: 10px;
  opacity: 1;
}

.slick-dots li.slick-active button:before{
  background-color: $primary-color;
  border-color: $primary-color;
}
.slick-prev{
  left: -40px;
}
.slick-prev:before{
  content: '\e90c';
}
.slick-next{
  right: -40px;
}
.slick-next:before{
  content: '\e90b';
}

.slick-prev:before, .slick-next:before{
  color: #5e5e5e;
  font-family: 'icomoon';
}
