/**
 * Button
 */
.button {

  // Variables
  $this: '.button';

  // Base styling
  background-color: $primary-color;
  color: #1F1F1F;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 20px;
  display: inline-flex;
  align-items: center;
  align-content: center;
  margin-bottom: 0;
  span{
    margin-left: 35px;
  }

  /**
   * Elements
   */




  /**
   * Modifiers
   */

  &--quote{

  }
}
