/**
 * Button
 */
.button {

  // Variables
  $this: '.button';

  // Base styling
  background-color: $primary-color;
  color: #1F1F1F;
  border-radius: 2px;

  /**
   * Elements
   */




  /**
   * Modifiers
   */

}
