.input{

  $this: '.input';

  text-align: left;
  position: relative;


  &__label{
    margin-bottom: 10px;
    font-size: 13px;
    color: $text--color-grey;
    text-transform: uppercase;
  }
  &__input{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #585858;
    box-shadow: none;
    padding: 20px 0 30px 0;
    color: #fff;
    margin-bottom: 0;
    &:focus{
      background-color: transparent;
      box-shadow: none;
      border: 0;
      border-bottom: 1px solid #fff;
      #{$this}__label &{
        color: $primary-color;
      }
    }
    &::placeholder{
      color: $text--color-grey;
    }

    &--quote{
      color: #fff;
      &::placeholder {
        color: #fff;
      }
    }
  }

  &__select{
    background-color: transparent;
    border: 0;
    color: #fff;
    margin-bottom: 0;

    &:focus {
      background-color: transparent;
      box-shadow:       none;
      border:           0;
    }
  }

  &__search-options{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 20px;
    z-index: 2;
  }
  &__search-option{
    margin-bottom: 5px;
  }


  &--quote{
    padding-bottom: 10px;
    border-bottom: 1px solid #3f3f3f;
  }

}
