.login-block{

  $this: '.login-block';

  // base styles
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: 40px;

  &__icon{
    color: $primary-color;
    font-size: 100px;
    display: block;
    margin-bottom: 40px;
    text-align: center;
  }

  &__forgotten-password{
    display: block;
    padding: 20px 0;
    color: $text--color-grey;
  }

}
