/**
 * Nav Bar
 */
.nav-bar {

  // Variables
  $this: '.nav-bar';
  $height: $nav-bar--height;
  $offset-left: $nav-menu--width;

  // Base styling
  background-color: $background-color;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $height;
  padding: 10px 0px;
  @include transition();

  @include breakpoint('medium-up') {
    background-color: $background-color;
    left: $offset-left;
  }

  /**
   * Elements
   */


  /**
   * Modifiers
   */


}
