.stats-block{

  $this: '.stats-block';

  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;


  &__stat{
    color: $primary-color;
    font-size: 100px;
  }

  p{
    color: #efefef;
    font-size: 14px;
    font-weight: bold;
  }

}
