.quote-block{

  $this: '.quote-block';

  // Base Styles


  &__info-block{

    margin-bottom: 30px;

    &--end{
      margin-bottom: 60px;
    }

  }

  &__info-block-icon{
    display: flex;
    align-items: center;
    align-content: center;
    color: $primary-color;

    &--rotate{
      span{
        transform: rotate(90deg);
      }
    }
  }

  &__button-group{
    margin-bottom: 20px;
  }
}
